@scripts = {

}

@headTags = {

}

@main("This is Careers", scripts, headTags) {

    <div class="container">

            <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 id='pageheader' class="page-header">Career</h1>
                <ol class="breadcrumb">
                    <li><a href="@routes.HomeController.index()">Home</a>

                    </li>
                    <li class="active">Career</li>
                </ol>
            </div>
        </div>
            <!-- /.row -->

            <!-- Intro Content -->
        <div class="container"><div class="row">
            <div class="col-sm-8" style="padding: 0 0 35px 0;">

                <p>Precision Graphics embodies an environment of culture, people and professionalism. We recognize that
                    our employees are our prized assets and we pride ourselves in creating the best possible work
                    environment at all times, one that encourages feedback and recognizes and rewards accomplishments.
                    Our employees are fully engaged, motivated and empowered to do their best work and achieve their
                    highest personal and professional aspirations.</p>
                <p>We have a dynamic, amiable and flexible work culture and our hard working employees strive to meet
                    the growing demands of this industry and pride themselves in their accomplishments. Our staff has
                    extensive experience in graphic design, quality printing, pre and post press operations and superior
                    customer service. We help our clients get the most out of their printing projects from concept, to
                    delivery of their message to the public.</p>
                <p>We understand the importance of staff development and continually make provisions for employee
                    training to ensure performance at the highest standards possible. With technological changes we
                    continue to introduce new types of computerized equipment or dictate new work procedures, so proper
                    training and retraining is an essential part of our operation. We work together as a team with a
                    clear focus on common goals where team members are able to grow, develop, and contribute to their
                    fullest.</p>
                <p>Since 1997, we've given companies the insight they need to realize their potential... and we do the
                    same for your staff. Attracting and developing talented and motivated individuals enables us to
                    drive results that will lead to the achievement of our aspiration – ‘to provide high quality service
                    at the lowest price’- so our customers can decide with confidence. We believe that outstanding
                    leadership will enable our transformation from a medium size operation to a world class digital
                    enterprise using the latest technologies.</p>
            </div>
        </div></div>

            <!-- /.row -->

            <!-- Footer -->
        <hr>

    </div>

}


