@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)
@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@scripts = {
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/carousal.js")"></script>

        <!-- Script to Activate the Carousel -->
    <script>
            $('.carousel').carousel({
                interval: 5000 //changes the speed
            })
    </script>
}

@headTags = {
    <link href="@routes.Assets.versioned("javascripts/carousal.js")" media="print, screen" rel="Stylesheet"
    type="text/css"/>
}

@main("Welcome to Play", scripts, headTags) {


        <!-- Offset Digital Printing Section -->
    <div id="service">
        <div class="container">
            <div class="row centered">
                <div style="padding: 0 0 20px 0" class="col-sm-12">
                    <h1 style="font: 36px Constantia;
                        color: #4A90E2;
                        text-align: center">
                        OFFSET & DIGITAL PRINTING
                    </h1>
                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="@routes.Assets.versioned("images/digitalprinter.jpg")" class="img-circle"
                    alt="digital" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0;
                        color: #4A90E2">DIGITAL SERVICE</h4>
                    <p>The latest technology, for small or medium
                        quantities, personalization and quick delivery.
                    </p>

                    <a href="#" class="btn btn-primary">More</a>

                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="@routes.Assets.versioned("images/shutterstock.jpg")" class="img-circle" alt="offset"
                    width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0;
                        color: #4A90E2">OFFSET SERVICE</h4>
                    <p>Accurate and fast turnaround of your
                        conference or convention materials.</p>
                    <a href="#" class="btn btn-primary">More</a>
                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="@routes.Assets.versioned("images/bigstock-offset-printing-machine.jpg")" class="img-circle"
                    alt="offset" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0;
                        color: #4A90E2;">DESIGN & CREATIVE SERVICE</h4>
                    <p>We bring your ideas to life with great
                        design and creative solutions at reasonable costs.</p>
                    <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <! --/container -->
    </div><! --/service -->
        <!-- /.row -->

        <!-- Portfolio Section -->
    <div class="container-fluid" style="background-color: #E9E8EB;">
        <div class="container ">
            <div>

                <div class="row">
                    <div class="col-sm-12">
                        <h1 id='pageheader'>LEAVE THE HASSLE TO US</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 ">

                        <p>We are the best Printer in Jamaica for Annual Reports, News
                            Letters,
                            Brochures, Magazine printing Jamaica, Flyers printing Jamaica, Posters, Calendars printing
                            Jamaica, Leaflets, Envelopes, Stationery , Labels, concept Creation, Professional advice and
                            Consultation, Graphics Design, Preparation of Artwork, Writing, Proof Reading, High Quality
                            Full
                            Color Printing, Perfect Binding, Plate Output.</p>

                        <h2 id='pageheader'> Our Services</h2>
                        <hr>
                        <li>Concept Creation
                        </li>
                        <li>Professional Advice and Consultation
                        </li>
                        <li>Graphics Design
                        </li>
                        <li>Preparation of Artwork
                        </li>
                        <li>Proof Reading
                        </li>
                        <li>High Quaility Full Color Offset Printing
                        </li>
                        <li>Perfect Binding</li>
                        <li>Plate Output</li>

                    </div>
                    <div class="col-sm-4">

                        <img class="img-responsive" src="@routes.Assets.versioned("images/bigstock-offset-printing-machine.jpg")" alt="">
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

        <!-- /.row -->


}
